<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/nav', null, {cache: !config.relative_link}) %>
  <div id="main-wrap" class="position-relative" style="margin-top: 55px;">
      <div class="main-inner-content">
          <%- body %>
      </div>
  </div>
  <%- partial('_partial/footer') %>
  <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=1710251859282087";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>
</body>
</html>